*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

 .container{
    max-width:1440px;
    width:60%;
    margin: 40px auto;
} 

.clock {
    
     margin-bottom:40px; 
    font-size:5rem;
    font-family:'Noto Sans Mono';
    color:Cyan;
    padding:20px 30px;
    text-align:center;
    background-color: black;
    border:solid 3px black;
}





.slider-wrapper{
   display:flex;
}
.slide{
    display:none;
    opacity:0;
    visibility: hidden;
}

.active{
    display:block;
    opacity:100%;
    visibility: visible;
}
img{
    max-width:900px;
    width:100%;
    object-fit: cover;
   
}

.div-slide{
    position:relative;
}

.slide-desc{
    position:absolute;
    bottom:10%;
    left:50%;
    transform: translate(-50%);
    background-color:beige;
    opacity:50%;
    padding:30px;
    text-align: center;
    color:darkblue;
    font-weight:600;
}


.dot{
    width:20px;
    height:20px;
    background-color:darkblue;
    border-radius:50%;
    margin-left:10px;
    opacity:100%;
    color:white;
  
  
}

.dots{
    display:flex;
   align-items: center;
   justify-content: center;
   position:absolute;
   bottom:5%;
   left:50%;
   transform: translate(-50%);
  
 
}

.buttons{
    position:absolute;
   
}
.next{
    position:absolute;
    top:50%;
    right:5%;
}
.prev{
    position:absolute;
    top:50%;
    left:5%;
}

.prev,.next{
    background-color:darkblue;
    color:white;
    width:40px;
    height:40px;
    border-radius:50%;
}